.chat-list {
  padding: 1rem;
  min-width: 250px;
  border: .5px solid red 
}

.chat-list > ul {
  padding-top: 5rem;
}

.chat-list > ul li {
  padding: .5rem;
  border: .5px solid yellow;
}

.chat-header {
  gap: 1rem;
}

.chat-main {
  min-width: 65%;
  height: 100%;
}

.chat-main > * {
  width: 100%;
}

.chat-main > section {
  padding: 1rem;
  min-height: 500px;
  min-width: 100%;
}

.chat-main > section > ul {
  gap: 0.5rem;
  justify-content: flex-end;
  width: 100%;
}

.chat-main > section > ul > li {
  max-width: 300px;
}

.myMessage {
  margin-inline-start: auto;
}

.chat-main > span {
  height: max-content;
  padding: 0.2rem 0.2rem 0.2rem 0.5rem;
  gap: 1rem;
  border: 0.5px solid grey;
  border-radius: 25px;
}

.chat-reaction + form > input {
  width: 100%;
  background-color: transparent;
  padding: 0.5rem;

  border: 0px;
  border-radius: 25px;
}

.chat-reaction + form > input:hover {
  background-color: rgb(104, 107, 110);
  /* color: white; */
}

.events {
  position: absolute;
  border: 0.5px solid grey;
  min-width: 400px;
  max-height: 150px;
  top: 0px;
  right: 0px;

  display: grid;
  grid-template: min(60px) 1fr / 1fr;
  
}
.events > ul {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.2rem;
  justify-content: flex-end;
  overflow: hidden;
}



