:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

html, body {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-flow: row nowrap;
}

.flex-col {
  flex-flow: column nowrap;
}

.grid {
  display: grid;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.top-right {
  top: 0px;
  right: 0pX;
}

.top-left {
  top: 0px;
  left: 0px;
}

.bot-right {
  top: 0px;
  right: 0px;
}

.bot-left {
  top: 0px;
  left: 0px;
}

img, .fit-parent {
  width: 100%;
  height: 100%;
}